@model OnlineBookStoreUser.Models.Customers
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_ProfileUserLayout.cshtml";
}
@using (Html.BeginForm("Edit", "Customers", FormMethod.Post))
{
    <div class="card" align="justify" style="width: 800px;float:right">
        <h3><img src="~/images/images.png" height="40" width="40" alt="...">Change Password</h3>
        <div class="card-body">
            <h3 class="card-title"></h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">  @Html.HiddenFor(model => model.CustomerId) </li>
            <li class="list-group-item">@Html.HiddenFor(model => model.FirstName) </li>
            <li class="list-group-item">@Html.HiddenFor(model => model.LastName) </li>
            <li class="list-group-item">@Html.HiddenFor(model => model.UserName)</li>
            <li class="list-group-item">@Html.HiddenFor(model => model.Email)</li>
            <li class="list-group-item">@Html.HiddenFor(model => model.Country)</li>
            <li class="list-group-item">@Html.HiddenFor(model => model.Address)</li>
            <li class="list-group-item">@Html.HiddenFor(model => model.City)</li>
            <li class="list-group-item">@Html.HiddenFor(model => model.ZipCode)</li>
            <li class="list-group-item">@Html.HiddenFor(model => model.Contact)</li>




            <li class="list-group-item">Old Password : @Html.EditorFor(model => model.OldPassword)</li>
            <li class="list-group-item">New Password : <input type="password" asp-for="Password" class="form-control" /></li>

            <input type="submit" value="Save Password" />
</div>

}
